.blogText-anchor > * {
	display: inline;
}

.blogText-anchor a {
	font-size: 0.875rem;
	line-height: 1.25rem;
	text-decoration: underline;
	font-weight: 600;
}

.blogImage-container {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.blogImage-container:not(:last-child) {
	margin-bottom: 1rem;
}

.blogImage-container > img {
	height: auto;
	width: 49%;
	object-fit: cover;
	object-position: center;
}

.blogText-container > *:not(:last-child) {
	margin-bottom: 0.75rem;
}

.tip {
	background-color: rgba(232, 223, 209, 0.5);
	padding: 1rem;
	border-radius: 1rem;
}

@media (min-width: 750px) {
	.blogImage-container {
		margin-top: 1.5rem;
	}
	.blogImage-container:not(:last-child) {
		margin-bottom: 1.5rem;
	}

	.blogText-container > *:not(:last-child) {
		margin-bottom: 0.88rem;
	}

	.blogText-anchor a {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.tip {
		padding: 1rem 1.5rem;
	}
}

@media (min-width: 1000px) {
	a:focus > div:not(.buttonLink),
	a:hover > div:not(.buttonLink) {
		opacity: 0.5;
	}

	a:focus > .buttonLink,
	a:hover > .buttonLink,
	button:hover,
	button:focus {
		opacity: 0.9;
	}

	a:not(.contentsLink):hover,
	a:not(.contentsLink):focus {
		color: #687b68;
	}

	.contentsLink button:hover,
	.contentsLink button:focus {
		text-decoration: underline;
	}
}

@media (min-width: 1250px) {
	.blogImage-container {
		margin-top: 2rem;
	}
	.blogImage-container:not(:last-child) {
		margin-bottom: 2rem;
	}

	.blogText-container > *:not(:last-child) {
		margin-bottom: 1rem;
	}

	.blogText-anchor a {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.tip {
		padding: 1.25rem 1.75rem;
	}
}
