@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.overflow-y-scroll,
body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.overflow-y-scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
}
