@import "./styles/tailwind.css";

body {
	margin: 0;
	font-family: "Libre Franklin", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-family: "Tenor Sans", Helvetica, sans-serif;
}

code {
	font-family: "Libre Franklin", Helvetica, sans-serif;
}
